@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For Split.js */
.gutter {
	background-color: #9ca3af;
}

.gutter.gutter-vertical {
	cursor: row-resize;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
}

/*
body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 5vh;
}
.the-editor {
    height: 49vh;
}

iframe {
    height: 45vh;
    width: 100%;
}*/
